/*----------メディアクエリ----------*/

@media screen and (max-width:600px ) {
/* ---------header--------- */

header h1 {
  font-size: 28px;
  font-weight: normal;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  display: none;
}

#menu.shown {
  display: block;
}

#menu ul {
  list-style: none;
  margin: 10px 20px 0 0;
  padding: 10px 20px;
}

#menu li {
  line-height: 2;
  display: block;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#open_menu {
  display: block;
  float: right;
  font-size: 32px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

#close_menu {
  display: block;
  font-size: 28px;
  margin: 10px 10px 0 0;
  padding: 15px;
  float: right;
  cursor: pointer;
}

  /* ----------top------------ */

  .top {
    /* background-size: contain; */
    background-image: url(top-rps.png);
  }


  .catch {
    font-size: 32px;
  }

  .ss {
    padding: 10px 20px;
    text-align: left;
  }

  /* ------------index--------------- */

  .big {
    font-size: 24px;
  }

  .ques-mark {
    padding: 40px 0 0 10px;
  }

  .desc2 h2{
    font-size: 20px;
  }

  .flex {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    margin: auto;
  }

  .colums {
    margin: 0 20px 10px 0;
  }

  .border-bottom {
    margin-bottom:0;
  }

  /* ---------------howto---------------- */

  .img-rps {
    width: 100%;
  }

  .desc {
    padding:0 10px;
    text-align: left;
  }

  /* -----------------special------------- */
  .spe-container {
    display: block;
    margin-bottom: 20px;
  }

  .spe-name {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    clear: both;
  }

  /* .ggmap {
    width: 100% !important;
    padding:auto 10px;
  } */

  .ggmap {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .ggmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }


  /* ------------contact-------------- */

  .form {
    width:auto;
    padding: 20px 10px;
    margin: 20px -5px;
  }

  #email {
  	width: 16em;
  	margin: 10px 0 20px 20px;
  }

  #content {
  	margin: 10px 0 20px 20px;
  	width: 16em;
  }


/* ----------------footer---------------- */


}
