/*リセット*/
body, p, h1, h2, h3, ul, li, ol, a, img, div{
	margin: 0;
	padding: 0;
}

h2, h3 {
	font-weight: normal;
}
ul{
	list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover{
	opacity: 0.6;
}
* {
	box-sizing: border-box;
}

/*----------内容----------*/

body{
	color: #222;
	font-size: 16px;
	font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro",
	"ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica",
	"Arial",sans-serif;
	line-height: 1.7;
	background-color: #756360;
}
main{
	margin: 0 auto;
	background-color: #fff;
}

header {
	height: 73px;
	width: 100%;
	background-color: #DEBABB;
	position: fixed;
	z-index: 10;
	padding: 10px;
	color: #fff;
}

.nav-list {
    display: flex;
		float: right;
    line-height: 60px;
    padding-right: 30px;
}

.nav-list li{
	letter-spacing: 0.1em;
	margin-right: 15px;
	font-size: 15pt;
}


/* top */
.top {
	height: 600px;
	background-image: url(top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #FAFAFA
}

.container {
	padding: 250px 0 0 0;
}

.catch {
	font-size: 40px;
	text-align: center;
	text-shadow: 5px 0px grey;
	opacity: 1.0;
	color: #fff;
	letter-spacing: 2px;
}

.intro {
	color: #fff;
	font-size: 20px;
}

.ss{
	margin-bottom: 1em;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0.1em;
}

/* site-desc */
.site-desc {
	text-align: center;
	background-color: #FDF5E2;
	padding: 20px 0;
}

.subtitle {
	margin: 40px 20px 60px 20px;
	display: inline-block;
	border-bottom: solid 2px orange;
	letter-spacing: 0.1em;
	font-size: 24px;
}

/* .qa-cont {
	display: flex;
	justify-content: center;
	align-items: center;
} */

.ques {
	display: flex;
	justify-content: center;
	text-align: left;
	margin: 20px auto;
}

.ques-mark {
	font-size: 22px;
	padding-top: 10px;
}

.ques-desc {
letter-spacing: 0.08em;
padding-left: 10px;
color: #666666;
}

.ans {
	font-size: 28px;
	margin: 20px auto;
	letter-spacing: 0.1em
}

.desc2 {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	margin: 60px 10% 40px;
	padding: 40px 0;
	background-color: #fff;
	border: 2px solid #ebb94d;
	border-radius: 5px;
}

.desc2 h2 {
	font-size: 24px;
	color: #ebb94d;
	letter-spacing: 0.08em;
	padding-bottom: 10px;
}

.txts {
	letter-spacing: 0.08em;
	font-size: 16px;
}

/* introduction */
.introduction {
	text-align: center;
	padding: 10px 20px 40px
	/* color: #666666; */
}

.colums {
	width: 300px;
	margin:0 5px;
}

.colums img {
	border-radius: 8px;
}

.colums h3 {
	font-size: 22px;
	color: #666666;
}

.colums p {
	padding: 10px 0;
	text-align: left;
	letter-spacing: 0.05em;
}

/* preparations */

.preparations {
  text-align: center;
}

.heading{
 	text-align: center;
 	font-weight: normal;
 	font-size: 25px;
 	letter-spacing: 0.1em;
 	padding: 40px 0 5px 0;
 }

.description {
  display: inline-block;
  font-size: 16px;
  color: #535353;
  letter-spacing: 0.1em;
  border-bottom: solid 1px orange;
}

.border-bottom {
	display: inline-block;
	color: #535353;
	/* background-color: #FFF; */
	border-bottom: solid 2px orange;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
}

.border-bottom:hover {
	opacity: 0.6;
}

.flex {
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
	margin: 40px auto;
	padding: 0 40px;
}

.item {
  text-align: center;
  width: 310px;
	margin: 0 5px;
}

.item img {
  border-radius: 10%;
  border: 6px solid #800000;
}

.item-text {
  display: inline-block;
  margin-top: 5px;
}
.item h3{
  font-weight: bold;
  font-size: 18px;
}

.item p{
  margin-top: 5px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.05em;
}

/* grind */

.grind {
  text-align: center;
	background-color: #F3F3F3
}

.desc {
  display: inline-block;
  margin:10px 0;
  letter-spacing: 0.1em;
  color: #535353;
}

.grind-color {
  color: red;
}

.imgs {
  margin-top:20px;
	padding-bottom: 40px;
}

.images {
	border-radius: 5%;
	border: 6px;
}

.images2 {
	border-radius: 5%;
}

/* steam */
.steam {
  text-align: center;
}

.steam .imgs {
	margin: 20px 0 -10px 0;
}

.steam-desc {
  font-size: 14px;
  letter-spacing: 0.2em;
  color: red;
  margin-bottom: 40px;
}

/* hotwater */
.hotwater {
  text-align: center;
	background-color: #F3F3F3
}

/* pour */
.pour {
  text-align: center;
}

/* complete */
.complete {
  text-align: center;
	background-color: #F3F3F3
}


/* special */
.special {
	text-align: center;
}

.spe-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.spe-name {
	height:300px;
	/* float: left; */
	background-color: rgba(249,153,153,39);
	margin: 0 10px;
	padding: 50px 20px;
	width: 300px;
	text-align: center;
}

.spe-name h2{
	display: inline-block;
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: solid 1px #fff;
}

.spe-name p {
	padding-top: 10px;
	letter-spacing: 0.05em;
	font-size: 14px;
	text-align: left;
}

.ggmap {
	/* float: left; */
	width: 600px;
	padding-bottom: 20px;
}

.last {
	margin-bottom: 20px;
}


/* contact */
.contact {
	/* margin: 20px; */
	padding: 20px;
	background-color: #F3F3F3;
	/* text-align: center; */
}

.form {
	/* margin: 40px auto; */
	padding: 40px;
	width: 600px;
	margin: 40px auto 10px;
	border: solid 2px #999999;
	background-color: #FFF;
}

#email {
	width: 28em;
	margin: 10px 0 20px 0;
}

.sex {
	margin: 10px 0 20px 0;
}

#content {
	margin: 10px 0 20px 0;
	width: 28em;
}

#tx {
	text-align: center;
	background-color: #FFF;
	padding: 5px 15px;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 20;
	border: solid 1px;
}

#tx:hover {
	cursor: pointer;
	opacity: 0.6;
}


/* footer */
footer{
	/* margin-top: 20px; */
	width: 100%;
	height:80px;
	background-color: #DEBABB;
	padding: 5px;
	color: #fff;
	text-align: center;
	clear: both;
}

.policy {
	font-size: 14px;
	padding-top: 10px;
}
