/*リセット*/
body, p, h1, h2, h3, ul, li, ol, a, img, div{
	margin: 0;
	padding: 0;
}

h2, h3 {
	font-weight: normal;
}
ul{
	list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover{
	opacity: 0.6;
}
* {
	box-sizing: border-box;
}

/*----------内容----------*/

body{
	color: #222;
	font-size: 16px;
	font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro",
	"ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica",
	"Arial",sans-serif;
	line-height: 1.7;
	background-color: #756360;
}
main{
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}

header {
	height: 73px;
	width: 100%;
	background-color: #DEBABB;
	position: fixed;
	z-index: 10;
	padding: 10px;
	color: #fff;
}

.nav-list {
    display: flex;
    float: right;
    line-height: 60px;
    padding-right: 30px;
}

.nav-list li{
	letter-spacing: 0.1em;
	margin-right: 15px;
	font-size: 15pt;
}


/* top */
.top {
	height: 600px;
	background-image: url(top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #FAFAFA
}

.container {
	padding: 250px 0 0 0;
}

.catch {
	font-size: 40px;
	text-align: center;
	text-shadow: 5px 0px grey;
	opacity: 1.0;
	color: #fff;
	letter-spacing: 2px;
}

.intro {
	color: #fff;
	font-size: 20px;
}

.ss{
	margin-bottom: 1em;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0.1em;
}

/* preparations */

.preparations {
  text-align: center;
}

.heading{
 	text-align: center;
 	font-weight: normal;
 	font-size: 25px;
 	letter-spacing: 0.1em;
 	padding: 40px 0 5px 0;
 }

.description {
  display: inline-block;
  font-size: 16px;
  color: #535353;
  letter-spacing: 0.1em;
  border-bottom: solid 1px orange;
}

.border-bottom {
	display: inline-block;
	color: #535353;
	border-bottom: solid 2px orange;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
}

.preparations .flex {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}

.item {
  text-align: center;
  width: 250px;
}

.item img {
  border-radius: 10%;
  border: 6px solid #800000;
}

.item-text {
  display: inline-block;
  margin-top: 5px;
}
.item h3{
  font-weight: bold;
  font-size: 16px;
}
.item p{
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.05em;
}

/* grind */

.grind {
  text-align: center;
	background-color: #F3F3F3
}

.desc {
  display: inline-block;
  margin:10px 0;
  letter-spacing: 0.1em;
  color: #535353;
}

.grind-color {
  color: red;
}

.imgs {
  margin-top:20px;
	padding-bottom: 40px;
}

.images {
	border-radius: 5%;
	border: 6px solid #fff;
}

.images2 {
	border-radius: 5%;
	border: 6px solid #F3F3F3;
}

/* steam */
.steam {
  text-align: center;
}

.steam .imgs {
	margin: 20px 0 -10px 0;
}

.steam-desc {
  font-size: 14px;
  letter-spacing: 0.2em;
  color: red;
  margin-bottom: 40px;
}

/* hotwater */
.hotwater {
  text-align: center;
	background-color: #F3F3F3
}

/* pour */
.pour {
  text-align: center;
}

/* complete */
.complete {
  text-align: center;
	background-color: #F3F3F3
}

/* footer */
footer{
	width: 100%;
	height:80px;
	background-color: #DEBABB;
	padding: 0px;
	color: #fff;
	text-align: center;
	clear: both;

}

.footer-logo {
		margin-top: 10px;
		position: relative;
		left: 30%;
		float: left;
}

.footer-logo-img {
	width: 40px;
	height:60px;
}

/* footer .flex {
  margin: 5px 0;
	display: flex;
  justify-content: space-around;
}  */

.policy {
	position: relative;
	right:30%;
	top:20%;
	float:right;
	font-size: 14px;
}
